
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <form action="/form-data" method="post">
        <input type="text" name="name" placeholder="enter your name">
        <input type="email" name="email" placeholder="enter your email">
        <input type="password" name="password" placeholder="enter your password">

        <button >submit</button>
    </form>
    <script src="index.js"></script>
</body>
</html>

